<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Exo+2' rel='stylesheet' type='text/css' />
  <style>
    li {
      margin: 10px;
    }
    body {
	  font-family: 'Open Sans', sans-serif;
	  font-family: 'Exo 2', sans-serif;
	  font-size: 20px;
	  display: inline-block;
    }
    h1 {
      font-size: 40px;
    }
  </style>
</head>
<body>
  <h1>My talks, presentations, codelabs. Enjoy =]</h1>
  <hr>
  <ul>
    <li><a href="open-source-contribution-tools-of-the-trade">Open Source Contribution, Tools of the Trade</a></li>
    <li><a href="scalable-app-engine">Building scalable mobile apps</a></li>
  </ul>
</body>
</html>
